<h2>Hello</h2>
<%= link_to "hi",:controller =>"say", :action =>"hi"%>
<br>
<%= link_to "leave",:controller =>"leave", :action =>"bye"%>
<br>
The Array Has <% @a.each do|e|%> <%= e %> <%end%>
<br>
<%= @t %>